<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:with="title = 'Задачи'">
    <head  th:replace="include/header :: common_header(${title})">
    </head>
    <body>
    <div class="content">
        <div th:insert="include/header :: logo"></div>
        <h1 th:text="${title}"></h1>

        <form th:action="@{/tasks/task_form_processing}" th:object="${task}" method="POST">
            <input th:if="*{id != null}" type="hidden" th:field="*{id}"/>
            <table class="task-table">
                <tbody>
                <tr>
                    <td>Название задачи</td>
                    <td><input type="text" th:field="*{name}" placeholder="Название задачи"/></td>
                </tr>
                <tr>
                    <td>Инициатор</td>
                    <td><input th:field="*{owner}" placeholder="Инициатор"/></td>
                </tr>
                <tr>
                    <td>Описание</td>
                    <td><input th:field="*{desc}"  placeholder="Описание"/></td>
                </tr>
                <tr th:if="*{id != null}">
                    <td>Статус</td>
                    <td>
                        <select th:field="*{status}">
                            <option th:each="status : ${T(com.geekbrains.training.homework.spring.object.Task.StatusTask).values()}"
                                    th:value="${status}"
                                    th:text="${status.getTitle()}">
                            </option>
                        </select>
                    </td>
                </tr>
                <tr th:if="*{id != null}">
                    <td>Назначена</td>
                    <td><input th:field="*{assigned}"  placeholder="Назначена"/></td>
                </tr>
                <tr>
                    <td th:if="*{id == null}" colspan="2"><input type="submit" value="Добавить"/></td>
                    <td th:if="*{id != null}" colspan="2">
                        <input type="submit" value="Сохранить"/>
                        <input type="submit" name="delete_action" value="Удалить"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
        <div th:insert="include/footer :: common_footer"></div>
    </div>
    </body>
</th:block>
</html>