<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:with="title = 'Задачи'">
    <head  th:replace="include/header :: common_header(${title})">
    </head>
    <body>
    <div class="content">
        <div th:insert="include/header :: logo"></div>
        <h1 th:text="${title}"></h1>



        <div class="control-panel">
            <h3 th:if="${status_filter != null}" th:text="${'Включена фильтрация статуса: ' + status_filter.getRussianTitle() + '(' + status_filter + ')'}" class="status-filter"></h3>
            <a th:href="@{/tasks/edit}" class="add-task"><img th:src="@{/resources/img/plus.png}" alt="+" class="add-task-img">Добавить задачу</a>
        </div>
        <table class="task-table">
            <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Owner</td>
                <td>Status</td>
                <td>Executer</td>
                <td>Description</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="t : ${tasks}">
                <td th:text="${t.id}"></td>
                <td><a th:href="@{'/tasks/edit?id=' + ${t.id}}" th:text="${t.name}"></a></td>
                <td th:text="${t.owner}"></td>
                <td th:text="${t.status.getTitle()}"></td>
                <td th:text="${t.executer}"></td>
                <td th:text="${t.desc}"></td>
            </tr>
            </tbody>
        </table>
        <div th:insert="include/footer :: common_footer"></div>
    </div>
    </body>
</th:block>
</html>