<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="connection.url">jdbc:oracle:thin:@192.168.66.42:1521:crm</property>
        <property name="connection.username">yunekrasova</property>
        <property name="connection.password">Kess278032</property>
        <property name="connection.pool_size">2</property>
        <property name="dialect">org.hibernate.dialect.Oracle11gDialect</property>
        <property name="show_sql">true</property>
        <property name="current_session_context_class">thread</property>
    <mapping class="com.geekbrains.training.homework2NY.object.Task"/>
    </session-factory>
</hibernate-configuration>
