
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:with="title = 'Задачи'">
    <head  th:replace="include/header :: common_header(${title})">
    </head>
    <body>
    <div class="content">
        <div th:insert="include/header :: logo"></div>
        <h1 th:text="${title}"></h1>

        <div class="control-panel">
            <a th:href="@{/tasks/edit}" class="add-task"><img th:src="@{/img/plus.png}" alt="+" class="add-task-img">Добавить задачу</a>
        </div>
        <table class="task-table">
            <thead>
            <tr>
                <td>ID</td>
                <td>Caption</td>
                <td>Owner</td>
                <td>Status</td>
                <td>Assigned</td>
                <td>Description</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="t : ${tasks}">
                <td th:text="${t.id}"></td>
                <td><a th:href="@{'/tasks/edit?id=' + ${t.id}}" th:text="${t.caption}"></a></td>
                <td th:text="${t.owner}"></td>
                <td th:text="${t.status.getRussianTitle()}"></td>
                <td th:text="${t.assigned}"></td>
                <td th:text="${t.description}"></td>
            </tr>
            </tbody>
            <tfoot>
            <form action="#" method="GET">
                <tr class="task-table-filter">
                    <td><input size="3" name="id" th:value="${id != null ? id : null}" type="text" placeholder="ID"></td>
                    <td><input size="10" name="caption" th:value="${caption != null ? caption : null}" type="text" placeholder="Название"></td>
                    <td><input size="10" name="owner" th:value="${owner != null ? owner : null}" type="text" placeholder="Инициатор"></td>
                    <td>
                        <select name="status">
                            <option th:each="status : ${T(com.geekbrains.tasktracker.entities.Task.Status).values()}"
                                    th:text="${status.getRussianTitle()}"
                                    th:value="${status}"
                                    th:selected="(${status} == *{status_filter})">
                            </option>
                            <option value="" th:selected="(*{status} == null)">--- Все статусы ---</option>
                        </select>
                    </td>
                    <td><input size="10" name="assigned" th:value="${assigned != null ? assigned : null}" type="text" placeholder="Исполнитель"></td>
                    <td><input size="10" name="description" th:value="${description != null ? description : null}" type="text" placeholder="Описание"></td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td colspan="1"><input type="submit" value="Отфильтровать"></td>
                    <td colspan="2"></td>
                </tr>
            </form>
            </tfoot>
        </table>
        <div th:insert="include/footer :: common_footer"></div>
    </div>
    </body>
</th:block>
</html>